@media only screen and ( max-width:768px){
    header .navbar-brand {
        padding-left: 1rem;
    }
    header .row .col-md-7{
padding-top: 15vmin;
padding-bottom: 5vmin;
    }
 
.section-1 .row .col-md-6 .panel{
position: initial;
height: initial;
width: initial;
    }
    .section-3 .row .col-md-12 p{
        padding-bottom: 10px;
    }
    .section-4 .carousal-item{
        padding-left: 0.6rem;
    }
    .section-4 .team{
        display: flex;
        flex-direction: column;
        padding-left: 12rem;
    }
    .section-4 .carousel-inner{
        width: 24rem;
    }
 
}
@media only screen and (max-width:425px) {
   header .row .col-md-7{
    margin-top:-40px;
   }
 .card-title{
    font-size: 6vmin;
   }
.numbers{
margin-top: 0vmin;
   } 
   footer .col-md-3 {
    margin-top: 8vmin;
   }
   footer .col-md-4 {
    margin-top: 8vmin;
   }
   .section-4 .card{
    width:18em;
   }
   .section-4 .team{
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
   
}
.section-4 .container h1{
    font-size: 5vmin;
}
.section-4 .carousel-inner{
    padding-right: 2.4rem;
}
.section-3{
    height: 100vmin;
}
.section-3 .col-md-12 h1{
    font-size: 5vmin;
}

}